@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.box{
    height: 120vh;
    background-color: black;
    margin-bottom: 500px;
    width: 100vw;
    position: relative;
}
.img1{
    height: 35vh;
    width: 22vw;
    object-fit: cover;
}
.grp{
    height: 80vh;
    width: 93vw;
    z-index: 1;
    position: absolute;
    border-radius: 48px;
    border-radius: 5px solid black;
    margin-top: 18vh;
    margin-left: 7vw;
    background: linear-gradient(to left,rgba(130, 52, 23, 0.65),rgba(0, 0, 0, 0.8)) ,url(group.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.topright{
    position: absolute;
    top: 2vh;
    right: 3vw;
}
.bottomleft {
    position: absolute;
    bottom: 10vh;
    left: 6vw;
}
.bottomright {
    position: absolute;
    bottom: 7vh;
    right: 3vw;
}
.p1{
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 84px;
    color: white;
}
.content{
    display: flex;
    justify-content: space-around;
    color: white;
}
.content p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4vh;
    width: 46vw;
}

