@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.card h1{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 34px;
}
.size{
    width: 175px;
    height: 175px;
}
.card p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 30px;
}